h1 {
  margin: 0px;
  font-size: 40px;
}
#navigation a {
  color: lightpink;
  background-color: white;
  padding: 5px;
}
body {
  font-size: 15px;
  background-color: lightpink;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /*margin-left: 10%;
  margin-right: 10%;
  padding-top:20px;
  padding-bottom: 100px;*/
}
.text a {
  color: white;
}
#navigation a:hover {
  color: white;
  background-color: lightpink;
}

/*h1 {
  margin: 0px;
  font-size:40px;
}

a {
  color: lightpink;
  background-color: white;
  padding: 5px;
}

body {
  font-size:15px;
  background-color: lightpink;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

hr {
  border: 1px solid white;
  width: 120%;
}

#img1 {
  border: 2px solid white;
  width: 100%;
}
#twitter {
  float: none;
}
.text {
  margin-left: 0%;
}
