h1 {
  margin: 0px;
  font-size:40px;
}

a {
  color: lightpink;
  background-color: white;
  padding: 5px;
}

body {
  font-size:15px;
  background-color: lightpink;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

hr {
  border: 1px solid white;
  width: 120%;
}

#img1 {
  border: 2px solid white;
  width: 100%;
}
