@charset "utf-8";
/* CSS Document */
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top: 20px;
	margin-left: 50px;
	background-color:#FFC;
}

socialmedia {
	
}

header {
	display:inline;
}

tr{
   vertical-align: top;
}

nav {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

ul {
    list-style-type: none;
    width: 200px;
}

li a {
    display: block;
    padding: 0px 8px 0px 0px;
}